body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

    .navbar a {
        padding: 20px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .navbar a:hover {
            background-color: #555;
        }

h3 {
    color: white;
    border: 2px solid lightslategray;
    padding: 15px;
    margin-right: 5px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.navbar a i {
    margin-right: 10px;
}


.create-button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #333;
}

    .create-button:hover {
        color: white;
        background-color: #333;
    }


.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #DC3545;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create {
    color: #333;
    text-align: center;
    border: 0px;
}

.colored-line {
    border-top: 2px solid #333;
    margin-top: 20px;
}

.button {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease;
    margin: 30px 10px;
    width: 50vh;
    display: inline-block;
}

    .card:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

.card-img-top {
    height: 100px;
    object-fit: cover;
    margin: 10px 0 0 10px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.danger {
    display: inline-block;
    background-color: #DC3545;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0062cc;
}

.danger:hover {
    background-color: #c82333;
    cursor: pointer;
}


.container {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

    input[readonly] {
        background-color: #cccccc;
    }

.card-body h5 {
    margin-top: 10px;
}

.card-body img {
    max-width: 33%;
    border: 1px solid #f1f1f1;
}

.special-textarea {
    margin-bottom: 20px;
}


.special-textarea-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

    .special-textarea-input:focus {
        border-color: #007bff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.option-product {
    font-size: 17px;
}

.description-textarea {
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 96%;
    height: 150px;
    display: block;
    margin: 16px 0;
}

.disp-block {
    display: inline-block;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.tag {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
}

.tag-label {
    margin: 0;
}

input[type="checkbox"] {
    margin: 0;
}

input[type="text"] {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
}

.image-container {
    position: relative;
    display: block;
}

.square-image {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: auto;
}

    .square-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
}

.square-image:hover .upload-icon {
    display: block;
}



body {
    background-color: #333;  
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient( #1845ad, #23a2f6 );
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient( to right, #ff512f, #f09819 );
    right: -30px;
    bottom: -80px;
}

form {
    height: 420px;
    width: 300px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
}

    form * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        font-size: 25px;    
        line-height: 42px;
        text-align: center;
    }

label {
    display: block;
    margin-top:10px;
    font-size: 16px;
}

input {
    display: block;
    height: 50px;
    width: 80%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 20px;
    display: flex;
}

    .social div {
        background: red;
        width: 150px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }

        .social div:hover {
            background-color: rgba(255,255,255,0.47);
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }
