@using Source.Models.ViewModels;
@model AddProductViewModel

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<h2 class="create">Create Product</h2>
<div class="form-container">
    <form action="AddProduct" method="post" enctype="multipart/form-data">

        <div class="square-image">
            <img src="~/img/default.jpg" alt="Default Image">
            <div class="upload-icon">
                <label for="image-upload-input" id="upload-label">
                    <i class="fas fa-upload" id="upload-icon"></i>
                </label>    
            </div>
        </div>

        <label for="input-field" class="disp-block">Name:</label>
        <input type="text" id="input-field" class="input-field" name="Name" placeholder="Enter name here...">
        <label for="input-field">Category:</label>
        <select name="CategoryId">
            @foreach (var item in (List<Category>)ViewData["Categories"])
            {
                <option value="@item.Id" class="option-product">
                    <h5 class="product-option">@item.Name</h5>
                </option>
            }
        </select>
        <label for="input-field" class="disp-block">Price:</label>
        <input type="text" id="numeric-input" name="Price" class="input-field" placeholder="Enter price here...">
        <label for="input-field" class="disp-block">Description:</label>
        <textarea name="Description" class="description-textarea" placeholder="Enter description here..."></textarea>
        <button type="submit" asp-action="Products" asp-controller="Home" class="cancel-btn">Cancel</button>
        <button type="submit" class="submit-btn">Add</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var numericInput = document.getElementById("numeric-input");

        numericInput.addEventListener("input", function (event) {
            var inputValue = event.target.value;
            var numericValue = inputValue.replace(/[^0-9]/g, ""); 
            event.target.value = numericValue; 
        });
    });

</script>
