@model Category
<!DOCTYPE html>
<html>
<head>
    <title>Edit Category</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Category</h1> 
        <form action="EditCategory" method="post">
            <label for="Id">Id:</label>
            <input name="Id" value="@Model.Id" readonly>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="@Model.Name">
            <label for="CreatedDate">Created Date:</label>
            <input type="datetime" name="CreatedDate" value="@Model.CreatedDate" readonly>
            <button asp-action="Categories" asp-controller="Home" class="danger" type="submit">Cancel</button>
            <button class="btn-primary" type="submit">Save</button>
        </form>
    </div>
</body>
</html>
