@using Source.Models.ViewModels;
@model LoginViewModel

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="Login" method="post">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input asp-for="Login" type="text" placeholder="Email or Phone" id="username">
    <span asp-validation-for="Login" class="text-danger"></span>

    <label for="password">Password</label>
    <input asp-for="Password" type="password" placeholder="Password" id="password">
    <span asp-validation-for="Password" class="text-danger"></span>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input type="checkbox" asp-for="RememberMe" />
        <label for="">
            RememberMe
        </label>
    </div>
    <button>Log In</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
